### a

In [ ]:
# tallfølge [5, 9, 13, 17]

tall = 5

for n in range(20):
    print(tall)
    tall += 4

### b

In [ ]:
# tallfølge 10, 8, 6, 4
# synker med 2 starter på 10

tall = 10
for n in range(20):
    print(tall)
    tall -= 2

### c

In [ ]:
# tallfølge 1, 2, 4, 7, 11
# stiger med indeksen

tall = 1
for n in range(20):
    print(tall)
    tall += n+1

### d

In [ ]:
# tallfølge 1, 4, 16, 64
# ganger forrige tall med 4

tall = 1
for n in range(20):
    print(tall)
    tall *= 4

### e

In [ ]:
# tallfølge 1, -3, 9, -27
# -3 opphøyd i index

tall = 1
for n in range(20):
    tall = (-3)**n
    print(tall)

### f

In [ ]:
# tallfølge 1, 4, 9, 16
# stigningen stiger med to

tall = 1
stigning = 3
for i in range(20):
    print(tall)
    tall += stigning
    stigning += 2